*{
	box-sizing: border-box;
}
body{
	margin: 0px;
	padding:0px;
	background: white;
 }
.main-container{
	margin:50px;
}
.mainInput{
 	background-size: cover;
	background-repeat: no-repeat;
	background-position: left top;
}
.p-0{
	padding-left: 0px;
	padding-right: 0px;
 }
 .main-content{
 	margin-top: 10px;
 	display: grid;
 	grid-template-columns: repeat(3,250px);
 	grid-auto-rows: auto;
  	grid-gap: 20px;
 }
 .figure img
 {
 	height:200px;
 }
